# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de configuración local que podrían contener secretos
.env
*.env
.env.*

# Registros (Logs)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Carpetas de dependencias (si en el futuro usas Node.js)
node_modules
dist
build

# Archivos de caché
.npm
.yarn-cache
.pnpm-store

# Archivos de editores de código
.idea
.vscode/
*.swp
